<%- include("partials/header") -%>
<script type="text/javascript" src="today.js"></script>

<div id="energyTodaysHourlyConsumption" class="chart"></div>
<div id="weatherTodaysLogs", class="chart"></div>

<%- include("partials/footer") -%>