<%- include("partials/header") -%>
<script type="text/javascript" src="weekly.js"></script>

<div id="energyCurrentWeeksConsumption" class="chart"></div>
<div id="energyCurrentWeeksLogs" class="chart"></div>
<div id="energyPreviousWeeksConsumption" class="chart"></div>
<div id="energyPreviousWeeksLogs" class="chart"></div>

<div id="weatherCurrentWeeksLogs", class="chart"></div>
<div id="weatherCurrentWeeksStats" class="chart"></div>
<div id="weatherPreviousWeeksLogs" class="chart"></div>
<div id="weatherPreviousWeekStats" class="chart"></div>

<%- include("partials/footer") -%>